{% extends 'base.html' %}
{% block content %}
<h3 class="text-center">Status Sootblow</h3>
<div class="row text-center py-3">
    <div class="col">
        {% if data.sootblow1 %}
            <button class="btn btn-lg btn-success">TAA1 - Sootblow Enabled</button>
        {% else %}
            <button class="btn btn-lg btn-danger">TAA1 - Sootblow Disabled</button>
        {% endif %}
    </div>
    
    <div class="col">
        {% if data.sootblow2 %}
            <button class="btn btn-lg btn-success">TAA2 - Sootblow Enabled</button>
        {% else %}
            <button class="btn btn-lg btn-danger">TAA2 - Sootblow Disabled</button>
        {% endif %}
    </div>
</div>

<h3 class="text-center pt-4">Status Combustion</h3>
<div class="row text-center py-3">
    <div class="col">
        {% if data.combustion1 %}
            <button class="btn btn-lg btn-success">TAA1 - Combustion Enabled</button>
        {% else %}
            <button class="btn btn-lg btn-danger">TAA1 - Combustion Disabled</button>
        {% endif %}
    </div>
    
    <div class="col">
        {% if data.combustion2 %}
            <button class="btn btn-lg btn-success">TAA2 - Combustion Enabled</button>
        {% else %}
            <button class="btn btn-lg btn-danger">TAA2 - Combustion Disabled</button>
        {% endif %}
    </div>
</div>


<script type="text/javascript">
    setTimeout(function(){
       window.location.reload(1);
    }, 30000);
</script>

{% endblock content %}