{% extends 'base.html' %}
{% block content %}
<h3 class="">Daily Reporting</h3>

<div class="row m-auto">
    <form action="/daily-report-html">
        <div class="mb-3 row">
            <label for="unitName" class="col-sm-2 col-form-label">Reports kind</label>
            <div class="col-sm-6">
                <select class="form-select" id="unitName" name="unitName">
                    <option value="Excelfile">Excel - Perhitungan Kertas Kerja</option>
                    <option value="HTMLfile">HTML - Perhitungan Kertas Kerja</option>
                    <option value="TAA1">BAT Report Tanjung Awar-Awar Unit 1</option>
                    <option value="TAA2">BAT Report Tanjung Awar-Awar Unit 2</option>
                </select>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="datestart" class="col-sm-2 col-form-label">Date start</label>
            <div class="col-sm-6">
                <input type="date" class="form-control" id="datestart" name="datestart">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="dateend" class="col-sm-2 col-form-label">Date end</label>
            <div class="col-sm-6">
                <input type="date" class="form-control" id="dateend" name="dateend">
            </div>
        </div>
        <div class="col">
            <button class="btn btn-light" type="submit">Submit</button>
        </div>
    </form>
</div>

{% endblock content %}